<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Title      : Travel Portal
Version    : 1.0
Released   : 20070618
Description: A two-column, fixed-width template.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Unilever Text Analysis</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href= "{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="page">
	<div id="sidebar">
		<div id="logo">
			<center><image src = "static/images/unilever.png" height="140px" margin="20px"></image></center>
		</div>
		<!-- end header -->
		<div id="menu">
			<ul>
				    <li class='first'><a href="/keyphrase_extraction">Keyphrase Extraction page</a></li>
    <li><a href="/summarization">Summarization Page</a></li>
    <li><a href="/sentimental_analysis_english">Sentimental Analysis English</a></li>
    <li><a href="/sentimental_analysis_multilingual">Sentimental Analysis Multi-Lingual</a></li>
    <li><a href="/crawler">Amazon Crawler</a></li>

			</ul>
		</div>
		
	</div>
	<!-- end sidebar -->
	<div id="content">
		<div><img src="images/img08.jpg" alt="" width="740" height="220" /></div>
		<div class="boxed">
			<h1 class="title2"><center>Welcome to Unilever NLP Page !</center></h1>
			<p><strong>Travel Portal</strong> is a free template from <a href="http://templated.co" rel="nofollow">TEMPLATED</a> released under the <a href="http://templated.co/license">Creative Commons Attribution License</a>. The header photo is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. We only ask that you credit us in some way. <em>Enjoy :)</em></p>
			<h3>Curabitur Sem Urna</h3>
			<p>Vel consequat, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdie:</p>
			<blockquote>
				<p>&ldquo;In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula.Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.&rdquo;</p>
			</blockquote>
		</div>
		
	</div>
	<!-- end content -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
</body>
</html>
